<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Configuración de la conexión a la base de datos -->
        <property name="hibernate.connection.url">jdbc:sqlite:src/main/resources/pedidos.db</property>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        
        <!-- Dialecto específico para SQLite -->
        <property name="hibernate.dialect">org.hibernate.community.dialect.SQLiteDialect</property>
        
        <!-- Configuración de Hibernate -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.use_sql_comments">true</property>
        
        <!-- Activar soporte para claves foráneas en SQLite -->
        <property name="hibernate.connection.url.parameters">foreign_keys=true</property>
        
        <!-- Mapeo de clases -->
        <mapping class="acceso.datos.model.ZonaEnvio"/>
        <mapping class="acceso.datos.model.Cliente"/>
        <mapping class="acceso.datos.model.Pedido"/>
    </session-factory>
</hibernate-configuration>